# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
order.json


# Exclude macOS Finder (System Explorer) View States
.DS_Store

# release path
release
示例文档.md
CHANGELOG.md
测试说明.md
更新说明.md
使用示例.md
v0.2.2更新说明.md
cw-view-datas.json
cw-setting.json
